.logo {
  width: 33%;
}

img {
  width: 100px;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
    float: left;
}

li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.nav:hover {
  background-color: #000075;
}

.active {
  background-color: #008;
}

h6, footer {
  font-size: 1px;
  color: #333;
}

body {
  background-color: #333;
  color: #fff;
}

main {
  background-color: #fff;
  color: #000;
  border-color: #fff;
  border-width: ;
}
