/* general rules */
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

img {
  width: 100px;
}

body {
  background-color: #222;
  color: #fff;
  font-family: 'Michroma', sans-serif;;
}

main {
  background-color: #007;
  margin: 5px;
  padding: 0px 10px 0px 10px;
  border: 5px solid #003;
  border-radius: 5px 25px 5px 25px;
  -webkit-box-shadow: -15px 10px 5px 0px #004;
  box-shadow: -15px 10px 5px 0px #004;
}

nav {
  font-family: 'Black Ops One', cursive;
}
/* end of general rules */
/* nav design start */
ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

li.nav {
    float: left;
}

li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.nav:hover {
  background-color: #007;
}
/* nav design end */

/* details design start */
details {
  padding: 1px 15px 1px 15px;
  border: 5px solid #00f;
  border-radius: 25px 5px 25px 5px;
  margin: 15px 0px 15px 0px;
}
/* details design end */

/* feature design start */
.badrev {
  color: #f70;
}

.goodrev  {
  color: #0f0;

}

.active {
  background-color: #008;
}

.no-see {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.logo {
  width: 33%;
}

/* feature design end */
